@mixin svgIcon
    content: '',
    display: inline-block
    width: 100%
    height: 100%

@mixin font
    font-style: normal
    font-display: swap

// Cекции LP: 
@mixin sectProps
    padding: var(--app-lg-size)
    // background-color: var(--app-default-bg)
    color: var(--app-default-font)    
    position: relative

// КНОПКИ LP: 
@mixin sectBtns   
    padding: var(--app-sm-size)
    border-radius: var(--app-md-br)   
    font-family: "Roboto"
    font-weight: 400    
    letter-spacing: 0.6px 
    color: var(--app-light-color)
    background-color: var(--app-logo-color)
    position: absolute   
    &:hover
        color: var(--app-brown-color)

@mixin formBtns   
    padding: var(--app-sm-size)
    border-radius: var(--app-md-br)   
    font-family: "Roboto"
    font-weight: 400
    text-transform: uppercase
    letter-spacing: 0.6px 
    color: var(--app-light-color)
    background-color: var(--app-purple-color)      
    &:hover
        color: var(--app-brown-color)        
