.header
    background-color: var(--app-blue-opacity-color)
    width: 100%
    height: 132px
    position: relative
    overflow: hidden
    display: flex
    align-items: flex-start
    justify-content: space-between
    font-size: 17.3px
    font-family: "Gotham"
    font-weight: 300
    color: var(--app-white-color)
    border-radius: 0 0 var(--app-xl-br) var(--app-xl-br)
    padding: var(--app-md-size)

    &__logo
        width: auto
        height: 70px       
        display: flex
        align-items: center
        font-weight: 700
        font-family: "Gotham", serif
        margin: 0 10px
        color: var(--app-brown-color)

        &::before
            @include svgIcon
            background: url("../icons/logo.svg") center/contain no-repeat
            margin-right: 6px

    &__nav
        padding: 10px

        &_ul
            display: flex
            align-items: flex-start
            justify-content: space-evenly

            li           

                a
                    color: var(--app-light-color)               
                    margin-right: var(--app-lg-size)
                    font-family: "Montserrat"

                    &:hover
                        transform: scale(1.02)

                &:last-of-type a
                    font-weight: 500
                    color: var(--app-brown-color)        

    .activeLink
        color: var(--app-purple-color)

    &__theme
        position: absolute
        width: auto
        padding: var(--app-md-size)
        bottom: 0px
        right: 10%
        display: flex
        align-items: center
        letter-spacing: 0.6px
        font-weight: 300
        cursor: pointer

        &_img
            margin-left: 0.5rem
            width: 32px
            height: 32px

        &_icon
            font-size: var(--app-xl-size)
            transform: rotateZ(90deg)
            margin-right: .6rem
            color: var(--app-default-color)
            transition: transform 0.3s linear

            &:hover
                color: var(--app-logo-color)

.anchorLogo
    transform: translate(0, -20%)
    margin: 0
