.tabs
    @include sectProps

    &__panel
        overflow-x: auto
        display: flex
        justify-content: flex-start
        padding: var(--app-sm-size) var(--app-sm-size) 0px var(--app-sm-size)
        
        &::-webkit-scrollbar
            height: 5px
            width: 5px   

        &::-webkit-scrollbar-thumb
            background-color: var(--app-default-bg)
            opacity: 0.2

        &_button
            flex: none
            padding: var(--app-sm-size)
            padding-bottom: 0.25rem
            position: static
            display: block
            width: auto
            text-align: center
            margin: 0 var(--app-md-size)
            &.active
                border-bottom: 2px solid var(--app-brown-color)
            a
                font-family: "Montserrat"                
                font-weight: 500
                letter-spacing: .5px                
                font-size: 1.11em
                &:hover
                    color: var(--app-default-font)

                &::first-letter                    
                    text-transform: capitalize
                    color: var(--app-brown-color)    
    &__content
        @include sectProps
        padding: var(--app-md-size) 0
        opacity: .05
        transition: all 0.2s 0.25s linear
        text-align: right        

        &.active
                opacity: 1
        &_p
            text-align: justify
            padding: var(--app-sm-size)
            text-indent: 0.5em
            background-color: var(--app-green-color)
            color: var(--app-light-color)
            border-radius: var(--app-sm-size)
            margin: 0.5rem 0px
            font-weight: 400
            width: 95%
            display: inline-block
            position: relative
            letter-spacing: 0.45px

            &::before
                content: "--",
                display: inline-block
                position: absolute
                top: 50%
                left: -2%
                transform: translate(-2%, -50%)
                font-size: 1.1em
                color: var(--app-brown-color)
                font-weight: 500

        a
            font-family: "Montserrat"
            color: var(--app-purple-color)
            display: inline
            font-weight: 500
            
           

       